freezegun
odfpy
odoo-test-helper
pyexcel-odsr
pyexcel
requests-mock

# https://github.com/OCA/contract/pull/798 (12.0 port of contract_payment_auto)
git+https://github.com/fcayre/contract@12.0-mig-contract_payment_auto-fix#subdirectory=setup/contract_payment_auto

# https://github.com/OCA/contract/pull/1003 (commown:12.0-fix-contract_forecast)
#git+https://github.com/commown/contract@12.0-fix-contract_forecast#subdirectory=setup/contract_forecast
# https://github.com/OCA/contract/pull/1004 (commown:12.0-imp-contract_forecast)
#git+https://github.com/commown/contract@12.0-imp-contract_forecast#subdirectory=setup/contract_forecast
# Preceeding 2 PRs are summed-up in:
git+https://github.com/commown/contract@12.0-current-contract_forecast#subdirectory=setup/contract_forecast

# https://github.com/OCA/queue/pull/565
git+https://github.com/commown/queue@12.0-imp-queue_job-handle-identity_key-in-trap_jobs#subdirectory=setup/queue_job

# https://github.com/OCA/account-invoicing/pull/1087
git+https://github.com/fcayre/account-invoicing@12.0-add-account_invoice_merge_auto#subdirectory=setup/account_invoice_merge_auto

# https://github.com/OCA/account-invoicing/pull/1089
git+https://github.com/fcayre/account-invoicing@12.0-mig-account_invoice_merge_payment#subdirectory=setup/account_invoice_merge_payment

# https://github.com/OCA/account-invoicing/pull/1090
git+https://github.com/fcayre/account-invoicing@12.0-mig-account_invoice_merge_auto_pay#subdirectory=setup/account_invoice_merge_auto_pay

# https://github.com/OCA/account-payment/pull/457
git+https://github.com/fcayre/account-payment@12.0_add_payment_slimpay#subdirectory=setup/account_payment_slimpay

# https://github.com/OCA/e-commerce/pull/610
git+https://github.com/fcayre/e-commerce@12-mig-website_sale_affiliate#subdirectory=setup/website_sale_affiliate

# https://github.com/OCA/e-commerce/pull/611
git+https://github.com/fcayre/e-commerce@12-add-website_sale_affiliate_product_restriction#subdirectory=setup/website_sale_affiliate_product_restriction

# https://github.com/OCA/e-commerce/pull/612
git+https://github.com/fcayre/e-commerce@12-add-website_sale_affiliate_portal#subdirectory=setup/website_sale_affiliate_portal

# https://github.com/OCA/e-commerce/pull/620
git+https://github.com/fcayre/e-commerce@12.0_add_website_sale_payment_slimpay#subdirectory=setup/website_sale_payment_slimpay

# https://github.com/OCA/sale-workflow/pull/1891
git+https://github.com/fcayre/sale-workflow@12-ADD-sale_product_email#subdirectory=setup/sale_product_email

# https://github.com/OCA/project/pull/890
git+https://github.com/fcayre/project@12-ADD-project_rating_nps#subdirectory=setup/project_rating_nps

# Akretion does not add setuptools files to their repos
git+https://github.com/fcayre/odoo-usability@12.0-fix-account_usability-and-make-pip-installable#subdirectory=setup/base_usability
git+https://github.com/fcayre/odoo-usability@12.0-fix-account_usability-and-make-pip-installable#subdirectory=setup/account_usability
git+https://github.com/fcayre/odoo-usability@12.0-fix-account_usability-and-make-pip-installable#subdirectory=setup/base_company_extension
git+https://github.com/fcayre/odoo-usability@12.0-fix-account_usability-and-make-pip-installable#subdirectory=setup/sale_usability
