mock
odfpy
odoo-test-helper
requests-mock
pyexcel-odsr
pyexcel

# https://github.com/OCA/contract/pull/1231 (16.0 port of contract_payment_auto)
# + use whool for packaging
git+https://github.com/commown/contract@16.0-imp-contract_payment_auto-packaging#subdirectory=contract_payment_auto
git+https://github.com/commown/contract@16.0-imp-contract_forecast-factor-out-jobs-creation#subdirectory=contract_forecast

git+https://github.com/commown/odoo-usability@16.0-imp-whool-packaging#subdirectory=account_usability_akretion
git+https://github.com/commown/odoo-usability@16.0-imp-whool-packaging#subdirectory=base_company_extension
git+https://github.com/commown/odoo-usability@16.0-imp-whool-packaging#subdirectory=sale_usability
git+https://github.com/commown/odoo-usability@16.0-imp-base_usability-fetch_company_name_from_commercial_partner_whool#subdirectory=base_usability

git+https://github.com/Honeyxilia/website@16.0-imp-captcha-whool-packaging#subdirectory=website_recaptcha_v2

git+https://github.com/commown/account-invoicing@16.0-mig-account_invoice_merge_payment-whool#subdirectory=account_invoice_merge_payment

git+https://github.com/commown/sale-workflow@16.0-mig-sale_product_email#subdirectory=sale_product_email

git+https://github.com/commown/e-commerce@16.0-mig-website_sale_affiliate_portal#subdirectory=website_sale_affiliate_portal
git+https://github.com/commown/e-commerce@16.0-mig-website_sale_affiliate_product_restriction#subdirectory=website_sale_affiliate_product_restriction
git+https://github.com/commown/e-commerce@16.0-mig-website_sale_cart_selectable#subdirectory=website_sale_cart_selectable
git+https://github.com/commown/e-commerce@16.0-mig-website_sale_affiliate-whoop-packaging#subdirectory=website_sale_affiliate
