.attribute-show {
  display: none;
}

.attribute-value-match.attribute-show {
  display: block;
}

.lang {
  display: none;
}

body.editor_enable .lang {
  display: inherit;
}

html[lang="de-DE"] .lang.de {
  display: inherit;
}

html[lang="fr-FR"] .lang.fr {
  display: inherit;
}
