.navbar-light {
  background-color: #3399ff !important;
}
.btn-primary{
    background-color: #3366cc !important;
    background-image: none !important;
}
li.nav-item.divider{
    border-right: 1px solid #330066 !important;
}
