name: test Odoo addons

on:
  pull_request:
    branches:
      - "12.0*"
  push:
    branches:
      - "12.0"
      - "12.0-ocabot-*"

jobs:
  test:
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: test with odoo/odoo 12.0
            container: ghcr.io/oca/oca-ci/py3.6-odoo12.0:latest

    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_USER: odoo
          POSTGRES_PASSWORD: odoo
          POSTGRES_DB: odoo
        ports:
          - 5432:5432
    env:
      EXCLUDE: "${{ matrix.exclude }}"
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Install Debian librairies
        run: apt-get update -y && apt install pdftk texlive-extra-utils texlive-latex-recommended libreoffice libmagic1 librsvg2-bin -y

      - name: Install addons and dependencies
        run: oca_install_addons
      # - name: Check licenses
      #   run: manifestoo -d . check-licenses
      # - name: Check development status
      #   run: manifestoo -d . check-dev-status --default-dev-status=Beta
      - name: Initialize test db
        run: oca_init_test_database
      - name: Run tests
        run: oca_run_tests
      - uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
